<h1>Listing web items</h1>

<table class="table table-hover">
  <thead>
    <tr>
	    <th colspan="2"></th>
      <th>Name</th>
			<th>Categories</th>
      <th>Preview Text</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
	      <td><%= link_to edit_link_html, [:edit, :admin, item] %></td>
        <td><%= link_to remove_link_html, [:admin, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td style="width:1%; white-space:nowrap;"><%= link_to truncate(item.name, length: 45, omission: "..."), item_path(item) %></td>
				<td><% unless item.categories.empty? %><%= item.categories.map{|category| category.name }.join(", ")%><% else %>NO CATEGORIES (Promoted Item)<% end %></td>
        <td><%= truncate(item.preview, length: 90, omission: "...") %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html("Create new item"), new_admin_item_path %><br/>
<%= link_to back_link_html("Return to dashboard"), admin_path %>