<h1>Listing items</h1>

<table class="table table-hover">
  <thead>
    <tr>
	    <th colspan="2"></th>
      <th>Name</th>
			<th>Category</th>
      <th>Preview Text</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
	      <td><%= link_to raw("<span class='glyphicon glyphicon-edit'></span>"), [:edit, :admin, item] %></td>
        <td><%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), [:admin, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td style="width:1%; white-space:nowrap;"><%= item.name %></td>
				<td><%= item.category.name %></td>
        <td><%= item.preview %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a new Item', new_admin_item_path %><br/>
<%= link_to raw("<span class='glyphicon glyphicon-arrow-left'>Back</span>"), admin_path %>