<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @item.preview %>
</p>

<%= link_to 'Edit', [:edit, :admin, @item] %> |
<%= link_to 'Back', admin_items_path %>
