<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @item.preview %>
</p>

<%= link_to edit_link_html("Edit this item"), [:edit, :admin, @item] %> |
<%= link_to back_link_html("Back to items listing"), admin_items_path %>
