<div class="story category<%=item.category.id%> <% if item.category.category%>category<%=item.category.category.id%> <% end %><%= "width2" if item.landscape? %>" id="story<%=item.id%>" data-story-content-id="<%=item.id%>">
	<div class="preview-on-hover">
		<figure>
			<%= image_tag(item.image_url(:thumb), size: item.thumb_geometry) if item.image.version_exists?(:thumb) %>
			<figcaption><p><%= truncate(item.name, length: 30, omission: '...')%></p></figcaption>		
		</figure>
	</div>
	<div class="story-content gone" id="story-content-<%=item.id%>">
	</div>
</div>