<div class="story <% item.categories.each do |category| %><%= "category#{category.id}"%> <% if category.category%><%="category#{category.category.id}"%> <% end %> <% end %><%= " width2" if item.landscape? %>" id="story<%=item.id%>" data-story-content-id="<%=item.id%>">
	<div class="preview-on-hover">
		<figure>
			<%= image_tag(item.image_url(:thumb), size: item.thumb_geometry) if item.image? %>
			<% unless item.image? %>
			<%= image_tag("MS-photonotavailable.jpg", size: "200x200", alt: "MS no photo available") %>
			<% end %>
			<figcaption><p><%= truncate(item.name, length: 22, omission: '...')%></p></figcaption>		
		</figure>
	</div>
	<div class="story-content gone" id="story-content-<%=item.id%>">
	</div>
</div>