<div class="story category<%=item.category.id%> <% if item.category.category%>category<%=item.category.category.id%> <% end %><%= "width2" if item.landscape? %>" id="story<%=item.id%>" style="position:relative">
	<div class="preview-on-hover">
		<figure>
			<%= image_tag(item.preview_url, size: item.preview_geometry) if item.image?%>
			<figcaption><p><%=item.name%> :: <%= item.category.name unless item.category.nil?%></p></figcaption>		
		</figure>
	</div>
	<div class="story-content gone">
		<h2>
		<% if item.category.category %><small><%= item.category.category.name %> :: </small><% end %>
		<small><%=item.category.name%> :: </small><%= item.name%> <span class="glyphicon glyphicon-remove-circle exit" data-story-id="story<%=item.id%>"></span></h2>
		<%= image_tag(item.preview_url, size: item.preview_geometry) if item.image?%>
		<p class="preview"><%=raw item.preview %></p> 
		<div>
			<div class="category"><ol>
				<li><a href="#" class="category-control" data-item="about" data-control-id="<%=item.id%>">About</a></li>
				<% unless item.image_attachments.empty? %>
				<li><a href="#" class="category-control" data-item="images" data-control-id="<%=item.id%>">Images</a></li>
				<% end %>
				<% unless item.video_attachments.empty? %>
				<li><a href="#" class="category-control" data-item="video" data-control-id="<%=item.id%>">Videos</a></li>
				<% end %>
				<% unless item.doc_attachments.empty? %>
				<li><a href="#" class="category-control" data-item="pubs" data-control-id="<%=item.id%>">Publications</a></li>
				<% end %>
				</ol></div>
		  <div class="material" id="material<%=item.id%>">
		    <div id="about<%=item.id%>">
					<h3>About</h3>
					<div><%= raw item.body%></div>
		    </div>
				<% unless item.image_attachments.empty? %>		
				<div class="gone" id="images<%=item.id%>">
					<h3>Images</h3>
						<%= render partial: "image_carousel", locals: {item: item} %>
				</div>
				<% end %>				
				<% unless item.video_attachments.empty? %>				
				<div class="gone" id="video<%=item.id%>">
					<h3>Videos</h3>
						<%= render partial: "video_carousel", locals: {item: item} %>		
				</div>
				<% end %>							
				<% unless item.doc_attachments.empty? %>				
				<div class="gone" id="pubs<%=item.id%>">
					<h3>Publications</h3>
					<ul>
						<% item.doc_attachments.each do |doc| %>
							<li><%= link_to_if(doc.file, "Download the file '#{File.basename(doc.file.path)}'", doc.file.url) %>
								<p><%= raw doc.description %></p></li>
						<% end %>
					</ul>
				</div>
				<% end %>				
		  </div>
		</div>
	</div>
</div>