	<h2><%= truncate(@item.name, length: 50, omission: '...') %>
	<span class="glyphicon glyphicon-remove-circle exit" data-story-id="story<%=@item.id%>"></span></h2>
	<div class="preview-container" style="height: <%=@item.image_large_height > @item.image_thumb_height ? @item.image_large_height : @item.image_thumb_height rescue '200'%>px;">
		<%= image_tag(@item.image.url(@item.largest_version)) if @item.image? %>
		<% unless @item.image? %>
		<%= image_tag("MS-photonotavailable.jpg", size: "200x200", alt: "MS no photo available") %>
		<% end %>		
		<div class="preview"><%= raw @item.preview.force_encoding("UTF-8") %></div> 
	</div>
	<div>
		<div class="category">
			<span class="category-name"><small><%@item.categories.each do |c|%>(<%= c.name%>) <% end %></small></span>			
			<ol>
			<li><a href="#" class="category-control" data-item="about" data-control-id="<%=@item.id%>">About</a></li>
			<% unless @item.image_attachments.empty? %>
			<li><a href="#" class="category-control" data-item="images" data-control-id="<%=@item.id%>">Images</a></li>
			<% end %>
			<% unless @item.video_attachments.empty? %>
			<li><a href="#" class="category-control" data-item="video" data-control-id="<%=@item.id%>">Videos</a></li>
			<% end %>
			<% unless @item.doc_attachments.empty? %>
			<li><a href="#" class="category-control" data-item="pubs" data-control-id="<%=@item.id%>">Publications</a></li>
			<% end %>
			</ol>
		</div>
	  <div class="material" id="material<%=@item.id%>">
	    <div id="about<%=@item.id%>">
				<div><%= raw @item.body.force_encoding("UTF-8") %></div>
	    </div>
			<% unless @item.image_attachments.empty? %>		
			<div class="gone" id="images<%=@item.id%>">
					<%= render partial: "image_carousel", locals: {item: @item} %>
			</div>
			<% end %>				
			<% unless @item.video_attachments.empty? %>				
			<div class="gone" id="video<%=@item.id%>">
					<%= render partial: "video_carousel", locals: {item: @item} %>		
			</div>
			<% end %>							
			<% unless @item.doc_attachments.empty? %>				
			<div class="gone" id="pubs<%=@item.id%>">
				<ul>
					<% @item.doc_attachments.each do |doc| %>
						<li><%= link_to_if(doc.file, "Download the file '#{File.basename(doc.file.path)}'", doc.file.url) %>
							<p><%= raw doc.description.force_encoding("UTF-8") %></p></li>
					<% end %>
				</ul>
			</div>
			<% end %>				
	  </div>
	</div>