<%= form_for([:admin, @category]) do |f| %>
<% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

    <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field form-group">
    <%= f.label :name, class: "control-label" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
		<%= f.label :category, class: "control-label"  %><br/>
		<%= f.collection_select :category_id, @top_level_categories, :id, :name, {include_blank: true} %>
		<span class="help-block">This controls which top-level category contains the category. Only use this to produce a hierarchy of categories, such as "Grad Students"", which belong to "People".</span>
		
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
