<h1>Listing categories</h1>
<p><em>These are the categories that items can belong to.</em></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to edit_link_html, [:edit, :admin, category] %> <%= link_to remove_link_html, [:admin, category], method: :delete, data: { confirm: 'Are you sure?' }%> <%= category.name %></td>
      </tr>
			<% category.categories.each do |subcat| %>
				<tr>
					<td>-- <%= link_to edit_link_html, [:edit, :admin, subcat] %> <%= link_to remove_link_html, [:admin, subcat], method: :delete, data: { confirm: 'Are you sure? This will turn any remaining items with this category into PROMOTED items on the menu' }%> <%= subcat.name %></td>
				</tr>
			<% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html("Create new category"), new_admin_category_path %><br/>
<%= link_to back_link_html("Return to dashboard"), admin_path %>