<h1>Listing users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to raw("<span class='glyphicon glyphicon-edit'></span>"), [:edit, :admin, user] %> <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %> <%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html("Add new user"), new_admin_user_path %><br/>
<%= link_to back_link_html("Return to dashboard"), admin_path %>