<footer id="footer">
  <div class="container">
	<p class="text-muted credit">Funding & support by: 
	<a href="http://www.sshrc-crsh.gc.ca/" target="_blank"><%= image_tag("logosshrc.png", size: "383x32", alt: "SSHRC logo") %></a><a href="http://www.sfu.ca" target="_blank"><%= image_tag("logosfu.png", size: "59x32", alt: "SFU logo") %>
		</a><a href="http://www.fcat.sfu.ca/" target="_blank"><%= image_tag("fcattrans.png", size: "68x32", alt: "FCAT logo") %></a>
	  <a href="http://www.siat.sfu.ca" target="_blank"><%= image_tag("logosiat.png", size: "68x32", alt: "SIAT logo") %></a><a href="http://www.mitacs.ca/" target="_blank"><%= image_tag("mtacstrans.png", size: "68x32", alt: "MITACS logo") %></a>
	   <a href="http://teamlab.com?campaign=nonprofit" target="_blank" style="cursor:pointer; display:inline-block;">
	<img alt="We use TeamLab Online Office" title="We use TeamLab Online Office" alt="TeamLab Online Office logo" src="http://www.teamlab.com/images/nonprofit/banner.png?w=130&amp;h=30" border="0" align="absmiddle"/></a></p>
    <p class="text-muted">&copy; Moving Stories 2012 All Rights Reserved</p>
	<p class="pull-right user-info">
		<% if current_user %>
	    Logged in as <%= current_user.email %>.
	    <%= link_to "Log out", log_out_path %>
	  <% else %>
	    <%= link_to "Sign up", sign_up_path %> or
	    <%= link_to "log in", log_in_path %>
	  <% end %>
	</p>
  </div>
</footer>