<header class="navbar navbar-fixed-top">
	Moving Stories is an interdisciplinary collaborative research partnership ...
	<%= link_to image_tag("logo.png", alt: "Moving Stories logo"), '#', id: "logo" %>
	<nav>
		<ul class="nav pull-right">
			<li><%= link_to "Events", '#' %></li>
			<li><%= link_to "People", '#' %></li> 
			<li><%= link_to "Workshops", '#' %></li> 
			<li><%= link_to "Technology", '#' %></li> 				
			<li><%= link_to "Performances", '#' %></li> 
		</ul>
	</nav>
</header>