<div style="height: 123px" class="container-fluid">
	<%= image_tag("low_fi_ms_logo.png", height: "120", alt: "Moving Stories project logo")%>
	<span class="pull-right" style="margin-top: 40px; margin-right: 40px"><a href="/about"><i class="fa fa-question-circle fa-3x" style="margin-right: 10px"></i></a> <%= mail_to "admin@movingstories.ca", raw('<i class="fa fa-envelope fa-3x" style="margin-right: 10px"></i>') %> <a href="https://www.facebook.com/groups/430082843697624/"><i class="fa fa-facebook fa-3x" style="margin-right: 10px"></a></i> <a href="https://twitter.com/Moving_Stories"><i class="fa fa-twitter fa-3x"></i></a></span>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Moving Stories</a>
		</div>
		<div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav nav-items">
	      <li class="active"><a href="" data-filter="*">All</a></li>
	      <% @categories.each do |category| %>
					<li><a href="" data-filter=".category<%=category.id%>"><%= category.name %></a></li>
				<% end %>
	    </ul>
	  	<form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" id="search" name="search"/>
		      </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	    </form>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <span class="glyphicon glyphicon-user"></span> <%= current_user.email %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
						<li><%= link_to link_html("dashboard", "Dashboard"), "/admin" %></li>
            <li class="divider"></li>
            <li><%= link_to link_html("log-out", "Logout"), log_out_path %></li>
          </ul>
        </li>
				<% else %>
					<li class="dropdown">
						<%= link_to login_link_html("Login"), log_in_path %>
					</li>
				<% end %>
      </ul>	
    </div>
  </div>
</nav>
